extends ../includes/layout
block extscript
  script.
    loadScript('https://www.google.com/recaptcha/api.js')
    function captchaSubmit() {
    	$("#reg").submit();
    }
    $('#id').blur(function(){
      if($('#id').val() != "") {
        $.ajax({
            type: 'post',
            url : 'https://#{hostname}/auth/exist/id',
            data : {
                data : $('#id').val()
            },
            success : function s(a){ 
              if(a.success == true){
                $("#name").removeClass('uk-form-danger uk-form-success');
                $("#id").addClass('uk-form-success');
                iziToast.info({message: a.message})
              } else {
                iziToast.warning({message: a.message})
                $("#name").removeClass('uk-form-danger uk-form-success');
                $("#id").addClass('uk-form-danger');
              }
            },
            error : function error(){ iziToast.warning({message: "Baw Service 빠른 설정 적용이 설정을 적용하는 도중 문제가 발생했습니다.", title:"이런.."}); }
        });
      } else {
        $("#id").removeClass('uk-form-danger uk-form-success');
      }
    });
    $('#mail').blur(function(){
      if($('#mail').val() != "") {
        $.ajax({
            type: 'post',
            url : 'https://#{hostname}/auth/exist/mail',
            data : {
                data : $('#mail').val()
            },
            success : function s(a){ 
              if(a.success == true){
                iziToast.info({message: a.message})
                $("#name").removeClass('uk-form-danger uk-form-success');
                $("#mail").addClass('uk-form-success');
              } else {
                iziToast.warning({message: a.message})
                $("#name").removeClass('uk-form-danger uk-form-success');
                $("#mail").addClass('uk-form-danger');
              }
            },
            error : function error(){ iziToast.warning({message: "Baw Service 빠른 설정 적용이 설정을 적용하는 도중 문제가 발생했습니다.", title:"이런.."}); }
        });
      } else {
        $("#mail").removeClass('uk-form-danger uk-form-success');
      }
    });

block contents
  form(method='post', id="reg")
    fieldset.uk-fieldset
      legend.uk-legend Baw Service 회원가입
      .uk-margin
        label 아이디
        input.uk-input(type='text', id="id", name="id", placeholder='ID')
      .uk-margin
        label 비밀번호
        input.uk-input(type='password', id="pass", name="pass", placeholder='비밀번호')
      .uk-margin
        label 비밀번호 확인
        input.uk-input(type='password', id="pass2", name="pass2", placeholder='비밀번호 확인')
      .uk-margin
        label 서버 이름
        br
        .uk-inline.uk-width-1-1
          input.uk-input(type='text', id="svname", name="svname", placeholder='서버 이름 ("서버"는 자동 입력)')
          p.uk-form-icon.uk-form-icon-flip(style="background-color: #b4b6ba;") 서버
      .uk-margin
        label 이메일
        input.uk-input(type='mail', id="mail", name="mail", placeholder='이메일')
      //- .uk-margin
      //-   label 전화번호
      //-   input.uk-input(type='number', id="phone", name="phone", placeholder='전화번호 ("-"은 제외)')
        
      button.uk-button.uk-button-primary.g-recaptcha(type='submit', data-sitekey='6LeKTiwUAAAAANOYA7r37sTyquy_R0ljzSTVS6Bp', data-callback='captchaSubmit')
        i(class="fas fa-user-plus")
        |  회원 가입
      button.uk-button.uk-button-default(type="reset")
        i(class="fas fa-undo")
        |  재입력
