title Baw Service
meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel="shortcut icon" href=`https://${hostname}/public/img/favicon.ico`)
link(rel="stylesheet" href=`https://${hostname}/public/dashboard/css/uikit/uikit.min.css`)
link(rel="stylesheet" href=`https://${hostname}/public/dashboard/css/fontawesome/fa-svg-with-js.css`)
link(rel="stylesheet" href=`https://${hostname}/public/dashboard/css/nprogress/nprogress.min.css`)
link(rel="stylesheet" href=`https://${hostname}/public/dashboard/css/dashboard/setting.css`)
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.3.0/css/iziToast.min.css")
script(async src='https://www.googletagmanager.com/gtag/js?id=UA-112023380-1')
script(src='https://wchat.freshchat.com/js/widget.js')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-112023380-1');
