.uk-section-primary.uk-preserve-color
  div(uk-sticky='animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200')
    nav.uk-navbar-container.uk-margin(uk-navbar='')
      .uk-navbar-left
        a.uk-navbar-item.uk-logo(href=`https://${hostname}/`)
          img(src=`https://${hostname}/public/img/logo.png` width="180")
          //- | Baw Service Beta 4
        //- ul.uk-navbar-nav(class="uk-visible@s")
        //-   li
        //-     a(href='https://baws.kr')
        //-       |                     기존 대시보드로 돌아가기
      .uk-navbar-right
        ul.uk-navbar-nav(class='uk-visible@s')
          if(!user)
            button.uk-button.uk-button-default.uk-margin-small-right(type='button', uk-toggle='target: #login-slide')
              span(uk-icon="icon: sign-in")
              |  로그인
          else
            a(onclick=`location.href='https://${hostname}/auth/logout'`)
              button.uk-button.uk-button-default.uk-margin-small-right(type='button')
                span(uk-icon="icon: sign-out")
                |  로그아웃
            a(href=`https://${hostname}/auth/login`)
              button.uk-button.uk-button-default.uk-margin-small-right(type='button')
                span(uk-icon="icon: users")
                |  계정 전환
            a(href=`https://${hostname}/my`)
              button.uk-button.uk-button-default.uk-margin-small-right(type='button')
                span(uk-icon="icon: user")
                |  내 정보
        a.uk-navbar-toggle(uk-navbar-toggle-icon='', href='#navbar', class='uk-hidden@s', uk-toggle='')
        
        
        
        #login-slide(uk-offcanvas='overlay: true')
          .uk-offcanvas-bar
            button.uk-offcanvas-close(type='button', uk-close='')
            h3 로그인
            form(action=`https://${hostname}/auth/login` method="post")
              p Baw Service에 로그인하려면 아래 정보를 입력하세요.
              .uk-margin
                  input.uk-input(name="id" type="text" placeholder="ID")
              .uk-margin
                  input.uk-input(name="pass" type="password" placeholder="Password")
              p
                button.uk-button.uk-button-default.uk-width-1-1
                  span(uk-icon="icon: sign-in")
                  |  로그인
              font(style='text-align: center;')
                p OR Sign in with
              .uk-button-group(style="width: 100%;")
                a(onclick=`location.href=('https://${hostname}/auth/google')`, style="width: 100%;")
                  button.uk-button.uk-button-secondary(type="button", style="width: 100%;")
                    span(uk-icon="icon: google")
                a(onclick=`location.href=('https://${hostname}/auth/kakao')`, style="width: 100%;")
                  button.uk-button.uk-button-secondary(type="button", style="width: 100%;")
                    i.fas.fa-comment
              hr.uk-divider-icon
              p 아직 계정이 없으신가요?
              p
                a(href=`https://${hostname}/auth/register`, onclick="UIkit.offcanvas('#login-slide').hide();")
                  button.uk-button.uk-button-danger.uk-width-1-1(type="button") 회원가입


                

        #navbar(uk-offcanvas='overlay: true')
          .uk-offcanvas-bar
            p
              button.uk-offcanvas-close(type='button', uk-close='')
              include sidebar
            p
              if(!user)
                button.uk-button.uk-button-default.uk-margin-small-right(type='button', uk-toggle='target: #login-slide') 로그인
              else
                a.link(href=`https://${hostname}/auth/change`)
                  button.uk-button.uk-button-default.uk-width-1-1(type='button') 계정 전환 / 로그아웃
                a.link(href=`https://${hostname}/my`)
                  button.uk-button.uk-button-default.uk-width-1-1(type='button') 내 정보
