extends ./includes/layout
block extscript
  script.
    new Chart(
      document.getElementById("chart"),
      {
        "type":"line",
        "data":
        {
          "labels":
          [
            "A사",
            "Baw Service",
            "C사"
          ],
          "datasets":
          [
            {
              "label":"응답 속도",
              "data":
              [
                0.89,
                0.76,
                1.2
              ],
              "fill": true,
              "borderColor":"rgb(75, 192, 192)",
              "lineTension":0.1
            }
          ]
        },
        "options": {}
      }
    );
block contents
  div(uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 500")
    .uk-grid-small.uk-text-center.uk-flex.uk-flex-center(class='uk-child-width-expand@s', uk-grid='')
      .uk-card.uk-card-default.uk-card-body.uk-margin-left
        font(size='100')
          i(class="fas fa-tachometer-alt")
        h2.mt-0.mb-1 빠른 반응 속도
        | 			후원, 정품 인증을 위하여 더 이상 기다리지 마세요!
      .uk-card.uk-card-default.uk-card-body.uk-margin-left
        font(size='100')
          i(class="fab fa-adversal")
        h2.mt-0.mb-1 광고 없음
        | 			생성한 페이지에 광고가 존재하지 않습니다
      .uk-card.uk-card-default.uk-card-body.uk-margin-left
        font(size='100')
          i(class="fa fa-gratipay")
        h2.mt-0.mb-1 좋은 API 플러그인
        | 			처리 완료만 누르면 나머지는 API 플러그인이 자동으로!
    br
    div(class="uk-flex uk-flex-center")
      a(href=`https://${hostname}/auth/register`)
        button(class="uk-button uk-button-primary") 지금 시작하기
      button(class="uk-button uk-button-default" type='button', uk-toggle='target: #login-slide') 나는 이미 쓰고 있는데
    br
    .uk-card.uk-card-default
      .uk-card-header
        .uk-grid-small.uk-flex-middle(uk-grid='')
          .uk-width-auto
            img.uk-border-circle(width='40', height='40', src='../public/img/favicon.ico')
          .uk-width-expand
            h3.uk-card-title.uk-margin-remove-bottom Upgrade to Baw Service !
            p.uk-text-meta.uk-margin-remove-top
              | Baw Service로 업그레이드하세요!
      .uk-card-body
        h2 아직도 돈만 탐내는 타 서비스를 이용하시나요? 이젠 Baw Service와 함께하세요!
        h3 빠른 속도!
        p Baw Service는 다른 후원 사이트에 비해서 깔끔하고 적은 데이터로 운영됩니다.
        p 그 예로 Baw Service 페이지 로드 가속이 있습니다. Baw Service 페이지 로드 가속은 처음 페이지를 로드할때 자동으로 스크립트 몇개만 다운로드 받으며, 다른 페이지로 이동시 해당 스크립트 다운로드 요청을 전송하지 않고 해당 스크립트를 계속 사용합니다.
        p 덕분에 페이지 사이즈가 작아져 적은 리소스로 후원 사이트 관리가 가능하도록 도와주죠.
        canvas#chart
        h3 자체 서비스 광고 없음!
        p A사와 C사는 생성한 페이지 내부에 'XXX에서 무료로 후원 사이트 만들기'와 비슷한 문구를 무조건 추가하여 뭔가 기분이 더러울 수 있습니다. 하지만 Baw Service는 그딴거 없습니다.
        h3 언제든지, 모든것이 무료!
        p 다른 후원 페이지 생성 사이트들은 SMS 알림 서비스 이용시 요금을 청구하거나, API 플러그인의 광고를 제거하는데 요금을 청구하며, 차트를 보기 위해 자사 서비스 이용을 강제하고, 심지어 후원 페이지 안에 광고를 삽입한 뒤 제거를 위해 요금을 청구하기도 합니다. 근데 한번만 청구하면 될것을 안그래도 비싼걸 매월 청구합니다.
        p 하지만 Baw Service는 SMS 알림 서비스는 10분당 1회 발송 조건으로 무료로 제공되며, API 플러그인의 광고가 없으며, 차트는 무료로 확인할 수 있으며, 후원 페이지 광고가 존재하지 않습니다.
        h3 유저도 좋아함!
        p Baw Service의 후원 사이트는 후원 양식이 최대한 빠르게 로드되고, 알아보기 쉽고, 모바일 친화적으로 제작되어 유저들이 싫어할 수 없습니다!
        p 거기다가 1분당 후원 1회 제한도 없답니다!
        h3 세계최강 API 플러그인!
        p A사와 C사 중 C사는 아예 API 플러그인을 지원하지도 않으며, A사는 몇분마다 전체메시지로 후원 사이트 생성을 유도하는 메시지를 모든 유저에게 전송하며, 해당 메시지를 제거하기 위해서는 금액을 지불하여야 합니다.
        p 하지만 Baw Service의 API 플러그인은 광고가 존재하지 않고, 빠르게 처리가 이루어지는 HTTP 버전과 안정적인 Socket 버전으로 API 플러그인을 두개나 제공합니다.
        h3 겁나 빠른 업데이트!
        p Baw Service에 필요한게 있나요? 언제든지 pp121324@gmail.com 또는 카카오톡 pp121324로 알려주세요. 최대한 빠르게 업데이트하겠습니다.
        h3 자체 도메인 사용 가능!
        p A사와 C사는 오로지 해당 사이트의 도메인 s*h*s.com 이나 m*m*.kr 도메인만을 제공합니다. 하지만 Baw Service만이 store.rpgfarm.kr과 같은 서버 도메인 연결을 지원합니다.
        p
          br
        h2 그럼 이제 Baw Service로 옮겨올 준비가 되셨나요?
        a(href='https://baws.kr/auth/register')
          button(class="uk-button uk-button-primary") 헐 나 Baw Service 쓸래!
    br
    .uk-card.uk-card-default.uk-card-body
      h3.uk-card-title Baw Service Blog 최신글
      table.uk-table.uk-table-divider
        thead
          tr
            th 글 이름
            th 작성일
        tbody
          each list, index in items
            tr
              td
                a(href=list.url)
                  | #{list.title}
              td=list.created
      a(href="https://baw-service.tistory.com/")
        button.uk-button.uk-button-text Baw Service Blog에서 더 보기
    br
    .uk-card.uk-card-default.uk-card-body
      h3.uk-card-title Powered by Baw Server and Crong Cloud!
      p
        | Crong Cloud 사업자 등록번호: 4595000226, 대표: 홍윤석, 고객지원: 카카오톡 @CrongCloud
        br
        a(href='https://crong.cloud')
          button(class="uk-button uk-button-secondary") Crong Cloud
        p
          | Baw Service는 크롱 클라우드에 소속되어 있으며, 마인크래프트 흑백서버에 소속되어 있는 Baw Developers의 Baw_Appie가 개발하였습니다.
        img(src=`https://${hostname}/public/img/crong2.jpg`, style='max-width: 100%; height: auto;')
    br
    br
    br
