extends ./includes/layout
block contents
  .uk-grid-small.uk-child-width-1-2.uk-text-center(class='uk-child-width-1-4@s', uk-grid)
    div
      .uk-panel
        .uk-alert.uk-margin-remove
          | 총 후원 금액
          h4 #{a1}원
    div
      .uk-panel
        .uk-alert.uk-margin-remove
          | 30일 이내 후원 금액
          h4 #{a2}원
    div
      .uk-panel
        .uk-alert.uk-margin-remove
          | 총 거절된 후원 횟수
          h4 #{a3}번
    div
      .uk-panel
        .uk-alert.uk-margin-remove
          | 총 정품 인증 처리 횟수
          h4 #{a4}번
  br
  .uk-card.uk-card-default.uk-card-body
    h3.uk-card-title 후원 차트
    p
      canvas#chart(height="100px")
  br
  .uk-card.uk-card-default.uk-card-body
    h3.uk-card-title Baw Service Blog 최신글
    table.uk-table.uk-table-divider
      thead
        tr
          th 글 이름
          th 작성일
      tbody
        each list, index in items
          tr
            td
              a(href=list.url)
                | #{list.title}
            td=list.created
    a(href="https://baw-service.tistory.com/")
      button.uk-button.uk-button-text Baw Service Blog에서 더 보기
  br
  br
  br

block extscript
  script.
    new Chart(
      document.getElementById("chart"),
      {
        "type":"line",
        "data":
        {
          "labels":
          [
            "2개월 전",
            "1개월 전",
            "이번달"
          ],
          "datasets":
          [
            {
              "label":"후원 금액",
              "data":
              [
                #{c3},
                #{c2},
                #{c1}
              ],
              "fill":false,
              "borderColor":"rgb(75, 192, 192)",
              "lineTension":0.1
            }
          ]
        },
        "options": {}
      }
    );
