extends ../includes/layout
block extscript
  script.
    $(function(){
      $("#my").submit(function(){
        NProgress.start();
        $.ajax({
          type: "post",
          url : "#",
          data : $("#my").serialize(),
          success : function s(a){
            if(a.success == true){
              iziToast.info({message: a.message, title: a.title})
              NProgress.done();
            } else {
              iziToast.warning({message: a.message, title: a.title})
              NProgress.done();
            }
          },
          error : function error(){ iziToast.warning({message: "Baw Service 빠른 설정 적용이 설정을 적용하는 도중 문제가 발생했습니다.", title:"이런.."}); }
        });
        return false;
      });
    });
    $(function(){
      $("#pass").submit(function(){
        NProgress.start();
        $.ajax({
          type: "post",
          url : "https://#{hostname}/my/pass",
          data : $("#pass").serialize(),
          success : function s(a){
            if(a.success == true){
              iziToast.info({message: a.message, title: a.title})
              NProgress.done();
            } else {
              iziToast.warning({message: a.message, title: a.title})
              NProgress.done();
            }
          },
          error : function error(){ iziToast.warning({message: "Baw Service 빠른 설정 적용이 설정을 적용하는 도중 문제가 발생했습니다.", title:"이런.."}); }
        });
        return false;
      });
    });

block contents
  form(method='post', id="my")
    fieldset.uk-fieldset
      legend.uk-legend Baw Service 나의 정보 수정
      .uk-margin
        label 아이디
        input.uk-input(type='text', id="id", name="id", value=rows[0]["id"], disabled)
      .uk-margin
        label 서버 이름
        br
        .uk-inline.uk-width-1-1
          input.uk-input(type='text', id="svname", name="svname", value=rows[0]["svname"])
          p.uk-form-icon.uk-form-icon-flip(style="background-color: #b4b6ba;") 서버
      .uk-margin
        label 이메일
        input.uk-input(type='mail', id="mail", name="mail", value=rows[0]["mail"], disabled)
      .uk-margin
        label 계좌 정보
        input.uk-input(type='text', id="ninfo", name="ninfo", value=rows[0]["ninfo"])
      p 이메일 변경을 원하신다면 카카오톡 pp121324로 알려주세요.
      button.uk-button.uk-button-primary(type="submit")
        i(class="fas fa-save")
        |  설정 적용
      button.uk-button.uk-button-default(type="button")
        a(onclick="$.pjax.reload('#contents')")
          i(class="fas fa-undo")
          |  적용 안함
  hr.uk-divider-icon
  form(method='post', id="pass")
    fieldset.uk-fieldset
      legend.uk-legend Baw Service 비밀번호 수정
      .uk-margin
        label 기존 비밀번호
        input.uk-input(type='password', id="oldpass", name="oldpass", placeholder="기존 비밀번호")
      .uk-margin
        label 새 비밀번호
        input.uk-input(type='password', id="pass1", name="pass1", placeholder="새 비밀번호")
      .uk-margin
        label 새 비밀번호 확인
        input.uk-input(type='password', id="pass2", name="pass2", placeholder="새 비밀번호 확인")
      button.uk-button.uk-button-primary(type="submit")
        i(class="fas fa-save")
        |  비밀번호 변경
  br
