extends ../includes/layout
block contents
  .uk-grid-small.uk-grid-match(class='uk-child-width-1-3@m', uk-grid='')
    div
      .uk-card.uk-card-default.uk-card-body
        h3.uk-card-title 후원 홈페이지
        p 마인크래프트 서버의 후원을 받을 수 있도록 최적화된 사이트
        if(data1)
          a(href="https://" + hostname + "/manage/1/edit")
            button.uk-button.uk-button-default 수정
          |         
          a(href="https://" + hostname + "/manage/1/view")
            button.uk-button.uk-button-primary 관리
          |         
          a(href="https://" + hostname + "/manage/1/data_manager")
            button.uk-button.uk-button-danger 데이터 관리자
        else
          a(href="https://" + hostname + "/manage/1/create")
            button.uk-button.uk-button-default 페이지 생성
    div
      .uk-card.uk-card-secondary.uk-card-body
        h3.uk-card-title 후원 금액 확인 사이트
        p Baw Service 후원 홈페이지의 후원 금액을 확인하는 사이트
        if(data4)
          p(class="uk-button uk-button-text") 이 서비스는 수정할 수 없습니다.
        else
          a(href="https://" + hostname + "/manage/4/create")
            button.uk-button.uk-button-default 페이지 생성
    div
      .uk-card.uk-card-primary.uk-card-body
        h3.uk-card-title 정품 인증 사이트
        p 마인크래프트 정품 유저인지 가장 확실하게 알려주는 사이트
        if(data2)
          a(href="https://" + hostname + "/manage/2/edit")
            button.uk-button.uk-button-default 수정
          |         
          a(href="https://" + hostname + "/manage/2/view")
            button.uk-button.uk-button-primary 관리
          |         
          a(href="https://" + hostname + "/manage/2/data_manager")
            button.uk-button.uk-button-danger 데이터 관리자
        else
          a(href="https://" + hostname + "/manage/2/create")
            button.uk-button.uk-button-default 페이지 생성
    div
      .uk-card.uk-card-secondary.uk-card-body
        h3.uk-card-title 서버 상태 위젯
        p 마인크래프트 서버의 상태를 간편하게 확인할 수 있도록 도와주는 사이트
        if(data3)
          a(href="https://" + hostname + "/manage/3/edit")
            button.uk-button.uk-button-default 수정
        else
          a(href="https://" + hostname + "/manage/3/create")
            button.uk-button.uk-button-default 페이지 생성
