doctype html
html
  head
    title #{userdata['svname']}서버 후원 홈페이지
    script.
      var disable_placeholder = true
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css')
    link(rel="stylesheet" href=`https://${hostname}/public/dashboard/css/fontawesome/fa-svg-with-js.css`)
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.3.0/css/iziToast.min.css")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js')
    script(src=`https://${hostname}/public/dashboard/js/fontawesome/fontawesome-all.min.js`)
    script(src=`https://${hostname}/public/dashboard/js/fontawesome/fa-v4-shims.min.js`)
    script(src=`https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.3.0/js/iziToast.min.js`)
    script(src='https://www.google.com/recaptcha/api.js', async, defer)
    script(src=`https://${hostname}/public/user_page/js/donation.js`)
    script(async src='https://www.googletagmanager.com/gtag/js?id=UA-112023380-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-112023380-1');
      $(document).ready(function(){
        $('select').formSelect();
      });
      $(document).ready(function(){
        $('.tooltipped').tooltip();
      });
    style.
      @import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
      @import url(https://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
      body {
      margin-top:-0px;
      font-family:나눔고딕, NanumGothic, 'Nanum Gothic', Nanumbarungothic, arial, verdana, sans-serif;
      }
      h1, h2, h5, h4, h5, h6 {
      font-family:나눔고딕, NanumGothic, 'Nanum Gothic', Nanumbarungothic, arial, verdana, sans-serif;
      }
      .navbar-static-top {
      margin-bottom: 20px;
      }
      .grecaptcha-badge {
      display: none;
      }

  body
    nav
      .nav-wrapper
        a.brand-logo(href='#') #{userdata['svname']}서버
        ul#nav-mobile.right.hide-on-med-and-down
          each da, i in otherpage
            if da.service == 2
              li
                a(href=`https://${hostname}/${da["name"]}`) 정품 인증
            if da.service == 3
              li
                a(href=`https://${hostname}/${da["name"]}`) 서버 상태 확인
            if da.service == 4
              li
                a(href=`https://${hostname}/${da["name"]}`) 후원 금액 조회
                
    if pagedata['youtube']
      #player.player
      style.
        .player {
          display: none;
        }
      script.
        var tag = document.createElement("script");
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName("script")[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        var player;
        function onYouTubePlayerAPIReady() {
            player = new YT.Player("player", {
            height: "390",
            width: "640",
            videoId: "#{pagedata['youtube']}",
            events: {
            "onReady": onPlayerReady
            }
          });
        }
        function onPlayerReady(event) {
          player.playVideo();
        }
        function pv() {
          if (player.getPlayerState() == 1)
          player.stopVideo();
          else
          player.playVideo();
        }

    if(userdata['ninfo'] != "")
      .alert.alert-success.alert-dismissible#ninfo(role='alert', style='text-align: center;margin:0 auto;max-width: 80%; height: auto;')
        span.fa.fa-info-circle
        |  입금 계좌 정보: #{userdata['ninfo']}
      br

    .container(style='text-align: center;')
      if pagedata['notice'] != ""
        | <div class='row'><div class='col md-8'>
      form#TRM(name='TRM', method='post', action=`https://${hostname}/user/donation`)
        .card
          .card-content
            if(authdata != false)
              h4 <a class="tooltipped" style="color:DodgerBlue;" href="#" data-position="bottom" data-tooltip="이 후원 사이트는 Baw Service에서 #{authdata[0]['date']}에 #{authdata[0]['sv_ip']}으로 접속할 수 있는 #{authdata[0]['sv_name']}임을 확인하였습니다."><i class="fas fa-check-circle"></i></a> #{userdata['svname']}서버 후원
            else
              h4 #{userdata['svname']}서버 후원
            .input-field.col.s12
              select#Combo(name='Combo')
                option(value='후원수단선택', disabled, selected) 후원 수단을 선택하세요.
                - if (pagedata['disabled'].indexOf('문화상품권1') == -1)
                  - var okdata = true
                  option(value='문화상품권') 컬쳐랜드 - 문화상품권
                - if (pagedata['disabled'].indexOf('도서문화상품권') == -1)
                  - var okdata = true
                  option(value='도서문화상품권') 북앤라이프 - 도서문화상품권
                - if (pagedata['disabled'].indexOf('해피머니') == -1)
                  - var okdata = true
                  option(value='해피머니') 해피머니
                - if (pagedata['disabled'].indexOf('틴캐시') == -1)
                  - var okdata = true
                  option(value='틴캐시') 틴캐시
                - if (pagedata['disabled'].indexOf('계좌이체') == -1)
                  - var okdata = true
                  option(value='계좌이체') 계좌이체
                if(!okdata)
                  option(value='후원수단없음', disabled) 후원 수단 선택 불가
                  option(value='후원수단없음', disabled) 관리자에게 문의하세요.
            .input-field.col.s12
              select(name='Radio')
                option(value='후원보상선택', disabled, selected) 후원 보상을 선택하세요.
                - var bouns = pagedata.bouns.split('||')
                each boun in bouns
                  option(value=boun) #{boun}
            .input-field.col.s12
              input(type='text', name='nick', size='20', required='')
              label(for='nick') 닉네임
            .input-field.col.s12
              input(type='text', name='bal', size='20', onkeyup='getNumber(this);', required='')
              label(for='bal') 후원 금액
            .code
              .input-field.col.s12
                input#code(type='text', size='16', name='code')
                label(for='code')#code_text 발행일 또는 인증번호
            .nn
              .input-field.col.s12
                label(for='nname') 의뢰자
                input#nname(type='text', name='nname', size='20', placeholder='입금자명')
            .ncombo
              .input-field.col.s12
                | 상품권 핀번호
                table.normal
                  td(width='25%')
                    input#pin1.form-control.pin(type='text', name='pin1[]', maxlength='4', onkeydown='return onlyNumber(event)', onkeyup='removeChar(event)', placeholder='4자리')
                  td  - 
                  td(width='25%')
                    input#pin2.form-control.pin(type='text', name='pin2[]', maxlength='4', onkeydown='return onlyNumber(event)', onkeyup='removeChar(event)', placeholder='4자리')
                  td  - 
                  td(width='25%')
                    input#pin3.form-control.pin(type='text', name='pin3[]', maxlength='4', onkeydown='return onlyNumber(event)', onkeyup='removeChar(event)', placeholder='4자리')
                  td  - 
                  td(width='25%')
                    input#pin4.form-control.pin(type='text', name='pin4[]', maxlength='6', onkeydown='return onlyNumber(event)', onkeyup='removeChar(event)', placeholder='4/6자리')
                table.teen
                  td(width='34%')
                    input#pin1teen.form-control.pin(type='text', name='pin1[]', maxlength='4', placeholder='4자리')
                  td  - 
                  td(width='34%')
                    input#pin2teen.form-control.pin(type='text', name='pin2[]', maxlength='4', placeholder='4자리')
                  td  - 
                  td(width='34%')
                    input#pin3teen.form-control.pin(type='text', name='pin3[]', maxlength='4', placeholder='4자리')
            br
            button.btn.waves-effect.waves-ligh.red.g-recaptcha(type='submit', data-sitekey='6LeKTiwUAAAAANOYA7r37sTyquy_R0ljzSTVS6Bp', data-callback='captchaSubmit')
              i.fa.fa-chevron-circle-right(aria-hidden='true')
              |  제출
            |         
            button.btn.waves-effect.waves-ligh(type='reset')
              i.fa.fa-trash(aria-hidden='true')
              |  재입력
            |         
            if pagedata['youtube']
              button.btn.waves-effect.waves-ligh(onclick='pv()', type='button')
                i.fa.fa-youtube-play(aria-hidden='true')
                |  BGM 재생 / 중지
            input(type='hidden', value=pagedata["name"], name='page')
            br
            br
                
        if pagedata['notice'] != ""
          | </div>
          | <div class='col md-4'>
          | 	<div class='card'>
          | 	  <div class='card-title'><h4>공지 사항<h4></div>
          | 	  <div class='card-content'>
          |		 !{pagedata['notice']}
          | 	  </div>
          | 	</div>
          | </div>
        br
