doctype html
html
  head
    title #{userdata['svname']}서버 상태 확인
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel="stylesheet" href=`https://${hostname}/public/dashboard/css/fontawesome/fa-svg-with-js.css`)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://www.google.com/recaptcha/api.js', async, defer)
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gauge.js/1.3.5/gauge.min.js')
    script(src=`https://${hostname}/public/dashboard/js/fontawesome/fontawesome-all.min.js`)
    script(src=`https://${hostname}/public/dashboard/js/fontawesome/fa-v4-shims.min.js`)
    script(src=`https://${hostname}/public/MinecraftColorCodes.min.3.7.js`)
    script(async src='https://www.googletagmanager.com/gtag/js?id=UA-112023380-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-112023380-1');
    style.
      @import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
      @import url(https://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
      body {
      margin-top:-0px;
      font-family:나눔고딕, NanumGothic, 'Nanum Gothic', Nanumbarungothic, arial, verdana, sans-serif;
      }
      h1, h2, h5, h4, h5, h6 {
      font-family:나눔고딕, NanumGothic, 'Nanum Gothic', Nanumbarungothic, arial, verdana, sans-serif;
      }

  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') #{userdata['svname']}서버
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            each da, i in otherpage
              if da.service == 2
                li
                  a(href=`https://${hostname}/${da["name"]}`) 정품 인증
              if da['service'] == 1
                li
                  a(href=`https://${hostname}/${da["name"]}`) 후원


    .container(style='text-align: center;')
      if pagedata['notice'] != ""
        | <div class='row'><div class='col-md-8'>
      if data != false
        table.table.table-bordered(style='margin:0 auto; margin-top:3%;max-width: 80%;')
          tr
            td 서버 MOTD
            td
              div#motd
        .row.container(style='text-align: center; margin:0 auto; margin-top:3%;max-width: 80%;')
          .col-md-4
            h4 서버 접속자
            p
              canvas#foo(width='150', height='75')
            p
              #foo-textfield #{data.currentPlayers}명 접속중. 최대 #{data.maxPlayers}명 접속 가능
          .col-md-4
            h4 작업 소요 시간
            p 알 수 없음
          .col-md-4
            h4 서버버전
            p #{data.version}
      else
        p 서버에 연결할 수 없습니다.
      if pagedata['notice'] != ""
        | </div>
        | <div class='col-md-4'>
        | 	<div class='panel panel-default'>
        | 	  <div class='panel-heading'><h4>공지 사항<h4></div>
        | 	  <div class='panel-body'>
        |		 !{pagedata['notice']}
        | 	  </div>
        | 	</div>
        | </div>
      
      br
        
      script.
        var opts = {
        angle: 0.15, // The span of the gauge arc
        lineWidth: 0.21, // The line thickness
        radiusScale: 1, // Relative radius
        pointer: {
          length: 0.6, // // Relative to gauge radius
          strokeWidth: 0.044, // The thickness
          color: '#000000' // Fill color
        },
        limitMax: false,     // If false, max value increases automatically if value > maxValue
        limitMin: false,     // If true, the min value of the gauge will be fixed
        colorStart: '#47F3FF',   // Colors
        colorStop: '#E8511A',    // just experiment with them
        strokeColor: '#E0E0E0',  // to see which ones work best for you
        generateGradient: true,
        highDpiSupport: true,     // High resolution support

        };
        var target = document.getElementById('foo'); // your canvas element
        var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
        gauge.maxValue = #{data.maxPlayers}; // set max gauge value
        gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
        gauge.animationSpeed = 70; // set animation speed (32 is default value)
        gauge.set(#{data.currentPlayers}); // set actual value
        $('#motd').append("#{data.motd}".replaceColorCodes())
