extends ../includes/layout
block contents
  div(style='text-align: center;')
    div(style='font-size: 15pt')
      | 띠용?
    div(style='font-size: 18pt')
      | 권한이 없는데요..
    hr.uk-driver
    p 사이트에 로그인하지 않거나 사이트가 점검중이여서 발생한 문제일 수 있습니다. [403 ERROR]
    a(href="https://baws.kr")
      span(uk-icon="icon: home")
      |  메인 페이지로 돌아가기
